*{
    margin:0;
    padding: 0%;
}
body{
    background-image :url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: center;*/
    color: white;
}

header{
    color: white;
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
#logo{
    margin-right: 35em;
    float: left;
}
.navbar a:hover{
    color: orange;
}
#logo_font{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
#logo_image{
    height: 80px;
    width: 90px;
    padding: 10px 0 0 10px;
    vertical-align: middle;
    border-radius: 10px 10px;
}
#gym_centre{
    font-size: 20px;
    position: absolute;
    left: 7%;
    top: 60%;
}
.navbar{
    padding-top: 50px;
    position: relative;
}
.navbar ul li{
    float: left;
    padding: 0 25px 0;
    font-size: 1.5em;
    /*border: 1px solid white;
    margin: 0 15px 0;
    border-radius: 10px;*/
}
.navbar ul ul{
    position: absolute;
    display: none;       
}
.navbar ul li:hover >ul{
    display: block;
    
}
.navbar ul ul li{
    clear: both;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 1em;
    /*background-color: skyblue;
    border: 1px solid blue;
    border-radius: 15px;*/
}

/*footer starts here */

#footer_content{
    clear: both;
    background-color: rgb(243, 108, 59);
    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
    height: 90px;
    padding: 10px;
    text-align: center;
}
#footer_content p{
    font-size: 20px;
}
#footer_content .social_icons img{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    padding: 5px;
}
#footer_content .social_icons ul li{
    display: inline-block;
}
#footer_content .copyright{
    color: gold;

}

.home_quote{
    font-size: 110px;
    color: orangered;
    /*width: 700px;*/
    padding: 100px 400px 100px 100px;
    margin: auto;

}
.home_quote2{
    padding: 0 400px 100px 100px;
}
.home_small{
    color: whitesmoke;
    font-size: 25px;
    border-bottom: 1px solid orangered;
    width: 25%;
}
.home_main{
    color: whitesmoke;
    display: inline;
    font-size: 80px;
}
.homefont_col{
    color: orangered;
    display: inline;
}
.home_available{
    color: orangered;
    padding-top: 50px;
    font-size: 25px;
    width: 50%;
}

.join{ 
    
    display: inline-block;
    /*margin: 0 0 100px 100px;*/
    padding: 0px 10px 50px 100px;
    font-size: 35px;
}
.join_now{
    color: black;
    font-family:'Times New Roman', Times, sans-serif;
    border: 2px solid orangered;
    background-color: rgb(247, 240, 240);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

#about{
    display: inline;
    
}
#about .heading{
    font-size: 60px;
    
    padding: 30px;
    color: orangered;
}
#about .heading b{
    border-bottom: 2px solid orange;
}
#about .about_content{
    float: left;
    font-size: 20px;
    background-color:rgba(29, 27, 26, 0.815);
    font-family: 'Times New Roman', Times, serif;
    width: 56%  ;
    border-radius: 30px;
    padding: 30px;
    line-height: 2em;
    margin-bottom: 20px;
}
#about .about_image img{
    float: right;
    height: 450px;
    width: 535px;
    margin: 20px 25px 0 0;
    /*padding-right: 5px;
    padding-top: 20px;*/
    border: 2px solid orangered;
    border-radius: 10px;
    

}

/*gallery*/

#gallery video{
    border: white;
    align-items: center;
      
}
#gallery .gallery_images{
    padding: 30px 50px 50px 50px;
    background-color: rgba(29, 27, 26, 0.815);
    margin: 40px 60px;
    border-radius: 20px;
}

#gallery .gallery_images img{
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px 3px orangered;
    border-radius: 15px;
}
#gallery table th , td{
    padding: 20px 30px;
}
#gallery .gallery_images th{
    font-family:  'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    color: rgb(166, 255, 0);
    box-shadow: 3px 3px 5px 5px orangered;
    border-radius: 15px;
}
/*registration form*/

#regi_form{
    background-color: rgba(29, 27, 26, 0.815);
    
    border-radius: 10px;
    margin: 20px 300px;
}
#regi_form .regi_heading{
    font-size: 60px;
    color: orangered;
    padding: 0 170px 20px 170px;
}
#regi_form .imp{
    color: red;
}
#regi_form .regi_body{
    padding: 0 170px;
}
#regi_form .regi_body .label{
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 25px;
    position: inline-block;
    border-bottom: orange;
    color: rgba(243, 225, 225, 0.65);
    
}
#regi_form .regi_body .fname ,.lname{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px 50px 5px 10px;
    
}
#regi_form .regi_body .lname{
    margin-left: 5px;
}
#regi_form .regi_body .gend , .yes_no{
    margin: 7px;   
}
#regi_form fieldset{
    border-color: orange;
    border-radius: 10px;
    margin-bottom: 20px;
}
#regi_form form input , textarea{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px ;
}
#regi_form .regi_body .c_weight , .d_weight , .height , .bmi , .mail , .address{
    width: 15em;
}
#regi_form legend{
    font-size: 20px;
}
#regi_form .buttons{
    margin-top: 7%;
    margin-bottom: 10%;
    width: 20%;
    background-color:lightgray;
    border-radius: 0.5em;
    background-color: grey;
    width: 200px;
}
#regi_form #reset{
    margin-left: 50px;
}
#regi_form .buttons:hover{
    border: 3px solid orangered;
}
#contact{
    clear: both;
}
#contact .big_head{

    font-size: 40px;
}

/*pricing*/
/*pricing*/

#month_year_pr{
    
    padding: 50px;
    clear: both;
    text-align: center;
    background-color:rgba(29, 27, 26, 0.815);
}
#month_year_pr .pricing_heading{
    font-size: 50px;
    color: orange;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;

}
#month_year_pr .including_t , .excluding_t{
    border: 2px solid orangered;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px orangered;
    border-radius: 10px;
    display: inline-block;
    height: 400px;
}
#month_year_pr .table_top{
    background-color: orangered;
    font-size: 40px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
}
#month_year_pr .tables td{
    padding: 10px;
    margin: 0;
    font-size: 18px;
}
#month_year_pr .tables .table_text_size{
    padding: 10px;
    margin: 0;
    font-size: 40px;
    color: orange;
}
#month_year_pr .tables .discount{
    color:rgb(82, 177, 209);
}



 