*{
    margin:0;
    padding: 0;
}

body{
    background-image :url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: center;*/
    color: white;
    
}

header{
    color: white;
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
#logo{
    margin-right: 35em;
    float: left;
}
.navbar a:hover{
    color: orange;
}
#logo_font{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
#logo_image{
    height: 80px;
    width: 90px;
    padding: 10px 0 0 10px;
    vertical-align: middle;
    border-radius: 10px 10px;
}
#gym_centre{
    font-size: 20px;
    position: absolute;
    left: 7%;
    top: 60%;
}
.navbar{
    padding-top: 50px;
    position: relative;
}
.navbar ul li{
    float: left;
    padding: 0 25px 0;
    font-size: 1.5em;
}
.navbar ul ul{
    position: absolute;
    display: none;       
}
.navbar ul li:hover >ul{
    display: block;
    
}
.navbar ul ul li{
    clear: both;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 1em;
    /*background-color: skyblue;
    border: 1px solid blue;
    border-radius: 15px;*/
}

/*footer starts here */

#footer_content{
    clear: both;
    background-color: rgb(243, 108, 59);
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 90px;
    padding: 10px;
    text-align: center;
}
#footer_content p{
    font-size: 20px;
}
#footer_content .social_icons img{
    height: 30px;
    width: 30px;
    border-radius: 7px;
    padding: 5px;
}
#footer_content .social_icons ul li{
    display: inline-block;
}
#footer_content .copyright{
    color: gold;
}

 /*contact */
#contact{
    clear: both;
    display: inline-block;
    background-color: rgba(29, 27, 26, 0.815);
    padding: 40px;
    margin: 40px 100px;
    width: 45%;
    box-shadow: 3px 3px 3px 3px orange ;
    border-radius: 10px;
}
#contact .big_head{
    /*font-family: 'Zen Antique', serif;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
#contact p{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
    padding: 5px 0;
}
#contact #mail_link{
    color: orange;

}
#contact #mail_link:hover{
    font-size: 22px;
}
#contact label , input{
    display: block;
}
#contact label{
    font-size: 18px;
    margin-bottom: 10px;
}
#contact input , textarea{
    background-color: rgba(43, 41, 41, 0.171);
    width: 60%;
    border: 1px solid orangered;
    box-shadow: 3px 3px 3px orangered;
    border-radius: 5px;
    color: white;
}
#contact .submit{
    color: orange;
    width: 20%;
    height: 30px;
    margin: 20px 5px;
    cursor: pointer;
    background-color: rgba(100, 93, 93, 0.644);
    font-size: 20px;
    
}